<a href="https://docs.google.com/document/d/1XYFsZxavduztda5GEWxWKuNwHLFZq_f4ZBGNOlrK2QY/edit?usp=sharing">
  <img src="CSicon2.png" style="width:550px;height:600px;border:0;" class="rounded-circle">
</a>

<a href="../Profile/index.html">
  <img src="AboutMe.png" style="width:510px;height:600px;border:0;" class="rounded-circle">
</a>

<a href="../Games/index.html">
  <img src="GamesIcon.png" style="width:510px;height:600px;border:0;" class="rounded-circle">
</a>